{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Html Semantic Tags</title>
	<link rel="stylesheet"  href="{% static 'css/semantic.css' %}">
</head>
<body>
	<!-- Main Header -->
	<header>
		<h1>Pyspiders Marathali</h1>
	</header>

	<!-- Main Navbar -->
	<nav>
		<a href="" class="active">Home</a>
		<a href="" class="active">Courses</a>
		<a href="" class="active">Gallery</a>
		<a href="" class="active">Contact</a>
		<a href="" class="active">Services</a>
	</nav>

	<!-- Main Sidebar -->
	<aside>
		<a href="">python</a>
		<a href="">Html</a>
		<a href="">Css</a>
		<a href="">java</a>
		<a href="">Django</a>
	</aside>

	<!-- Main Section -->
	<section>
		<h2>Courses Details</h2>
		<article>
			<h1>python</h1>
			<p>this python class is taken by mr.sai santosh sriram</p>
			<button>see Details</button>
		</article>
		<article>
			<h1>html</h1>
			<p>this html class is taken by mr.yuva kishor reddy</p>
			<button>see Details</button>
		</article>
		<article>
			<h1>Java</h1>
			<p>this css class is taken by mr.raveesh</p>
			<button>see Details</button>
		</article>
		<article>
			<h1>Css</h1>
			<p> this css class is taken by mr.yuva kishor reddy</p>
		    <button>see Details</button>
		</article>
		<article>
			<h1>Django</h1>
			<p>this Django class is taken by mr.Harsad vally</p>
		    <button>see Details</button>
		</artthis css class is taken by mr.yuva kishor reddyicle>
		<article>
			<h1>SQL</h1>
			<p>this SQl class is taken by ms.greeshma shetty</p>
		    <button>see Details</button>
		</article>
	</section>
	<!-- Main Footer -->
	<footer>
		<h2>CopyRight:&copy;2023</h2>
		<small>All Rights Are &reg; Reserved</small>
	</footer>
</body>
</html>